name: reusable_build
on:
  workflow_call:
    inputs:
      packages:
        description: package names to build
        required: true
        type: string
      dist-matrix:
        description: dist matrix to build
        required: false
        type: string
        default: |
          [{"ros_distribution": "foxy",
            "ubuntu_distribution": "focal"},
          {"ros_distribution": "galactic",
            "ubuntu_distribution": "focal"},
          {"ros_distribution": "humble",
            "ubuntu_distribution": "jammy"},
          {"ros_distribution": "rolling",
            "ubuntu_distribution": "jammy"}]
defaults:
  run:
    shell: bash
concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true
jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(inputs.dist-matrix) }}

    name: Build and test
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-${{ matrix.ubuntu_distribution }}-latest
    steps:
      - name: setup ROS environment
        uses: ros-tooling/setup-ros@v0.4
        with:
          required-ros-distributions: ${{ matrix.ros_distribution }}
      - name: install_clang
        run: sudo apt update && sudo apt install -y clang clang-tools lld
      # TODO: remove this when uncrustify 0.72 is fixed https://github.com/uncrustify/uncrustify/issues/3191
      - name: hack for uncrustify 0.72 problems
        run: wget http://mirrors.kernel.org/ubuntu/pool/universe/u/uncrustify/uncrustify_0.69.0+dfsg1-1build1_amd64.deb && dpkg -i uncrustify_0.69.0+dfsg1-1build1_amd64.deb && apt install -f -y
        if: ${{ matrix.ubuntu_distribution == 'jammy' || matrix.ubuntu_distribution == 'rolling'}}
      # TODO: Remove this step when the incompatibility between libunwind14 and libundind dissapears https://github.com/open-rmf/rmf_traffic_editor/issues/439
      - name: Horrible hack for libceres
        run: |
          apt-get remove -y --purge libc++-dev || true 
          apt-get remove -y --purge libc++abi-dev || true
          apt-get remove -y --purge libunwind-14-dev || true 
          apt-get remove -y --purge libunwind-14-dev || true 
          apt-get remove -y --purge libunwind-dev || true
          apt -y autoremove
        if: ${{ matrix.ubuntu_distribution == 'jammy' || matrix.ubuntu_distribution == 'rolling'}}
      - name: build
        uses: ros-tooling/action-ros-ci@v0.2
        env:
          CC: clang
          CXX: clang++
        with:
          target-ros2-distro: ${{ matrix.ros_distribution }}
          # build all packages listed in the meta package
          package-name: ${{ inputs.packages }}
          vcs-repo-file-url: |
            https://raw.githubusercontent.com/open-rmf/rmf/main/rmf.repos
          colcon-defaults: |
            {
              "build": {
                "mixin": ["coverage-gcc", "lld"]
              }
            }
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
      - name: Upload colcon build logs
        uses: actions/upload-artifact@v2
        with:
          name: colcon-build-logs
          path: ${{ steps.build.outputs.ros-workspace-directory-name }}/log
      - name: Upload colcon failed test results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-results
          path: ${{ steps.build.outputs.ros-workspace-directory-name }}/build/*/test_results/*/*.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: ros_ws/lcov/total_coverage.info
          flags: tests
          name: lean_and_mean_codecov_bot